{% extends 'base.html.twig' %}

{% block body %}
    {% for link in links %}
        <h3>
            <a href="{{ path("view", {id: link.id}) }}">
                {{ link.name }}
            </a>
        </h3>
    {% endfor %}
{% endblock %}